{% extends 'base.html' %}
{% load static %}

{% block 'content'%}


<div class="container mt-5 ">
    <h1 class="text-center display -5">Select one category that you write for!</h1>

    <hr class="devider">

    <form action="" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputcategory">Category</label>
                <select class="form-control" name="category" id="">
                    {% for option in categories %}
                    <option value="{{option.name}}">{{option.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>

            {% for message in messages%}
            <div class="alert alert-info ml-5" role="alert">
                {{ message }}
            </div>
            {% endfor %}

        </div>
    </form>
</div>
{% endblock %}